<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>New KBART File</h1>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <%= render 'form', kbart_file: @kbart_file %>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <%= link_to 'Back', kbart_files_path %>
    </div>
  </div>
</div>
