<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>Editing Umpebc Kbart</h1>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <%= render 'form', umpebc_kbart: @umpebc_kbart %>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <%= link_to 'Show', @umpebc_kbart %>
      <span> | </span>
      <%= link_to 'Back', umpebc_kbarts_path %>
    </div>
  </div>
</div>
