<h1>BAR</h1>
<p>Dear UMP EBC Technical Contacts,</p>
<p>The files listed below now include new MARC records for titles recently added to UMPEBC on Fulcrum. You can download these and other MARC records for the collection from our <a href="https://umich.box.com/s/oxuimlw7m656w9ngpjfwim10zdqxy5at">UMPEBC MARC folder on Box</a>.</p>
<pre><%= text %></pre>
<p>If you have any problems, please contact fulcrum-info@umich.edu.</p>
<p>- The Fulcrum Team at University of Michigan Press</p>
<br/>
<p style="font-style: italic;">This automated message goes to all technical contacts on file for library customers of UMPEBC. If someone else should be the technical contact for your institution, please inform us at fulcrum-info@umich.edu.</p>
