<p>Dear BAR Technical Contacts,</p>
<p>The files listed below now include new MARC records for titles recently added to BAR on Fulcrum. You can download these and other MARC records for the collection from our <a href="https://umich.box.com/v/barpublishing-marc">BAR MARC folder on Box</a>.</p>
<pre><%= text %></pre>
<p>If you have any problems, please contact bar-support@umich.edu.</p>
<p>- The Fulcrum Team at Michigan Publishing</p>
<br/>
<p style="font-style: italic;">This automated message goes to all technical contacts on file for library customers of British Archeological Reports. If someone else should be the technical contact for your institution, please inform us at bar-support@umich.edu.</p>
