<p>While attempting to assemble MARC records for Lever Press titles that are live on Fulcrum, the following records contained invalid UTF-8 characters. Please correct and upload the corresponding .xml|.mrc files at the earliest convenience.</p>
<pre><%= text %></pre>
