<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Programs</h1>
        <ul>
          <li><a href="programs/assemble_marc_files/run" data-turbolinks="false">run Assemble MARC Files</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
