<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><%= params[:id] %></h1>
      </div>
    </div>
  </div>
</div>
