<p>Dear HEB Technical Contacts,</p>
<p>The files listed below now include new MARC records for titles recently added to ACLS Humanities Ebook on Fulcrum. You can download these and other MARC records for the collection from our folder on Box.</p>
<pre><%= text %></pre>
<p>If you have any problems, please contact fulcrum-info@umich.edu.</p>
<p>- The Fulcrum Team at Michigan Publishing</p>
<br/>
<p style="font-style: italic;">This automated message goes to all technical contacts on file for library customers of ACLS Humanities Ebook. If someone else should be the technical contact for your institution, please inform us at fulcrum-info@umich.edu.</p>