# Master configuration file. This holds the definitions and defaults that
# can be set per environment in settings/, or settings.local.yml. Keys can
# certainly be added in secondary files, but be sure to verify that the key
# will be used. Most values are used individually, rather than passing
# along a whole hash or array.

# Application hostname, used for link, asset, and email generation.
# More specific defaults are included in each environment.
# The APP_HOSTNAME environment variable can override this.
hostname: localhost

# Relative URL segment at which the application resides, used to compute links
# and assets. Used instead of RAILS_RELATIVE_URL_ROOT everywhere, because the
# behavior with the environment variable has proven inconsistent.
relative_url_root: /

# These are keys used to bridge between settings and the standard Rails files.
rails:
  # Database settings as they will be mapped into database.yml for the running
  # environment. The shell variable DATABASE_URL will always override values
  # in the settings files.
  database:
    adapter: mysql2
    encoding: utf8
    pool: 5
    #timeout: 5000
    username: heliotropium
    password: heliotropium_password
    host: mariadb
    #port: 3306
  # This value is nil here, to be set per environment and read in secrets.yml.
  # The SECRET_KEY_BASE environment variable will always override this setting.
  secret_key_base:
  # Action Cable settings applied in cable.yml
  cable:
    adapter: async

# Keys used by rufus scheduler (see: config/initializers/scheduler.rb)
scheduler:
  enabled:
    false

# Keys used by application mailers
mailers:
  administrators:
    - admin@heliotropium.com
  no_reply: no-reply@heliotropium.com

# Keys used by FtpFulcrumOrg module
ftp_fulcrum_org:
  host: <host>
  port: 22
  user: <user>
  password: <password>
  home: '/home/fulcrum_ftp'
  cat: MARC_from_Cataloging
  pub: ftp.fulcrum.org
  kbart: KBART
  marc: MARC
  publishers:
    - key: umpebc
      name: UMPEBC
      cat: UMPEBC
      pub: UMPEBC
      mailers:
        encoding_error:
          to:
            - to_encoding_error@umpebc.com
          from:
            - from_encoding_error@umpebc.com
          bcc:
            - bcc_encoding_error@umpebc.com
          subject: UMPEBC MARC record encoding errors
        missing_record:
          to:
            - to_missing_record@umpebc.com
          from:
            - from_missing_record@umpebc.com
          bcc:
            - bcc_missing_record@umpebc.com
          subject: UMPEBC missing MARC records
        marc_file_updates:
          to:
            - to_marc_file_updates@umpebc.com
          from:
            - from_marc_file_updates@umpebc.com
          bcc:
            - bcc_marc_file_updates@umpebc.com
          subject: UMPEBC MARC file updates
    - key: bar
      name: bar
      cat: BAR
      pub: BAR
      mailers:
        encoding_error:
          to:
            - to_encoding_error@bar.com
          from:
            - from_encoding_error@bar.com
          bcc:
            # - bcc_encoding_error@bar.com
          subject: BAR MARC record encoding errors
        missing_record:
          to:
            - to_missing_record@bar.com
          from:
            - from_missing_record@bar.com
          bcc:
            # - bcc_missing_record@bar.com
          subject: BAR missing MARC records
        marc_file_updates:
          to:
            - to_marc_file_updates@bar.com
          from:
            - from_marc_file_updates@bar.com
          bcc:
            # - bcc_marc_file_updates@bar.com
          subject: BAR MARC file updates
    - key: leverpress
      name: leverpress
      cat: leverpress
      pub: Lever_Press
      mailers:
        encoding_error:
          to:
            - to_encoding_error@leverpress.com
          from:
            - from_encoding_error@leverpress.com
          bcc:
          # - bcc_encoding_error@leverpress.com
          subject: Lever Press MARC record encoding errors
        missing_record:
          to:
            - to_missing_record@leverpress.com
          from:
            - from_missing_record@leverpress.com
          bcc:
          # - bcc_missing_record@leverpress.com
          subject: Lever Press missing MARC records
        marc_file_updates:
          to:
            - to_marc_file_updates@leverpress.com
          from:
            - from_marc_file_updates@leverpress.com
          bcc:
          # - bcc_marc_file_updates@leverpress.com
          subject: Lever Press MARC file updates
    - key: amherst
      name: amherst
      cat: amherst
      pub: Amherst_College_Press
      mailers:
        encoding_error:
          to:
            - to_encoding_error@amherst.com
          from:
            - from_encoding_error@amherst.com
          bcc:
          # - bcc_encoding_error@amherst.com
          subject: Amhrest College Press MARC record encoding errors
        missing_record:
          to:
            - to_missing_record@amherst.com
          from:
            - from_missing_record@amherst.com
          bcc:
          # - bcc_missing_record@amherst.com
          subject: Amherst College Press Missing MARC records
        marc_file_updates:
          to:
            - to_marc_file_updates@amherst.com
          from:
            - from_marc_file_updates@amherst.com
          bcc:
          # - bcc_marc_file_updates@amherst.com
          subject: Amhrest College Press MARC file updates