<div id="maincontent">
  <div class="container">
    <div class="row">
      <h1>New Identifier</h1>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <%= render 'form', identifier: @identifier %>
    </div>
    <div class="row"><br/></div>
    <div class="row">
      <%= link_to 'Back', identifiers_path %>
    </div>
  </div>
</div>
