<div id="maincontent">
  <h1>New Identifier</h1>
  <div class="col-md-12">
    <%= render 'form', identifier: @identifier %>
  </div>
  <div class="col-md-12"><%= link_to 'Back', identifiers_path %></div>
</div>
