Dear UMP EBC Technical Contacts,

The files listed below now include new MARC records for titles recently added to UMPEBC on Fulcrum.
You can download these and other MARC records for the collection from our <a href="https://umich.box.com/s/oxuimlw7m656w9ngpjfwim10zdqxy5at">UMPEBC MARC folder on Box</a>.

<%= @text %>

If you have any problems, please contact fulcrum-info@umich.edu.

- The Fulcrum Team at University of Michigan Press
