<p>While attempting to assemble MARC records for Michigan titles that are live on Fulcrum, the following records could not be found in the Box folder. Please upload the corresponding .xml/.mrc files at the earliest convenience.</p>
<pre><%= @text %></pre>
