<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <p>
      <strong>Doi:</strong>
      <%= @umpebc_marc.doi %>
    </p>

    <p>
      <strong>Mrc:</strong>
      <%= @umpebc_marc.mrc %>
    </p>

    <%= link_to 'Back', umpebc_marcs_path %>
  </div>
</div>