<p id="notice"><%= notice %></p>
<div id="maincontent">
  <div class="container">
    <p>
      <strong>Year:</strong>
      <%= @umpebc_marc.year %>
    </p>

    <p>
      <strong>DOI:</strong>
      <%= link_to @umpebc_marc.doi, "https://doi.org/#{@umpebc_marc.doi}", target: :_blank %>
    </p>

    <%= link_to 'Back', umpebc_marcs_path %>
  </div>
</div>