name: bundle-exec-rspec

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
#      - name: Create .env file
#        run: cat .env-example .env-dev-values > .env
#      - name: Load .env file
#        uses: xom9ikk/dotenv@v1.0.2
      - name: Set up Ruby 2.6.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true
      - name: Run tests
        run: bundle exec rubocop